*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

a{
  color:#3d2d18;
}

p{
  color:#3d2d18;
}

#wrap{
  margin:auto;
  width: 100%;
  font-family: "Sawarabi Gothic", sans-serif 
}

header{
  padding: 20px;
  background-color:#ffffff;
  color:#3d2d18 ;
}
  header h1{
    margin-right: auto;
  }
  header ul{
    margin-top: 20px;
    display: flex;
  }
  header li{
    width: auto;
    margin-right: 20px;
  }

  .hr {
    border-top: 2px dashed #3d2d18;
  }


 section{
  padding: 40px;
  margin-bottom: 40px;
  background-color: #ffffff;
  display: grid;
}

  section h1{
    margin-bottom: 12px;
    color:#3d2d18;
  }
  section p {
    margin-bottom: 40px;
  }

  section a{
    color:#2b2b2b;
  }

  .img-item {
    opacity: 100;
    width: 100%;
  }
  
  .img-item img {
    width: 100%;
    height: auto;
  }
  
  .img-item p {
    text-align: center;
  }
  

.grid {
  display: grid; 
  max-width: 1280px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
 }

 
.flex {
  display: flex; 
}

 .flex .img-item {
  width: 150px; /*画像サイズ指定*/
  margin: 20;
  padding: 20;
  overflow: hidden;
  position: relative;
}

.flex .right {
  margin: 0px 20px 20px 20px;
  padding: 20;
}
.flex .title {
  margin: 20;
  padding: 20;
  font-weight: bold;
  font-size: 18px;
}
.flex .text {
  margin: 10px 0 0;
  padding: 0;
}
  
  
footer{
  padding: 30px;
  background-color: #3d2d18;
  color:#ffffff;
}

@media screen and (max-width:767px) 
  /*　画面サイズが767px以下の場合読み込む　*/ { 
    .flex{
      flex-direction: column;/*flexアイテムを縦並びに変更*/
    }
}

@media screen and (min-width:768px){
  /*　画面サイズが768px以上の場合読み込む　*/
  h1 { font-size:20pt;}
}


html{
  scroll-behavior: smooth;
 }






